alabaster
arrow
astroid
asttokens
atomicwrites==1.4.0
attrs
autopep8
Babel 
backcall
bcrypt
beautifulsoup4
binaryornot
black
bleach
brotlipy==0.7.0
captum==0.6.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
comm
contourpy==1.1.1
cookiecutter
cryptography
cycler==0.12.1
debugpy
decorator
defusedxml
diff-match-patch
differint==1.0.0
dill
docstring-to-markdown
docutils
entrypoints
executing
fastjsonschema
filelock
flake8
fonttools==4.43.1
fsspec==2023.10.0
idna
imagesize
importlib-metadata
inflection==0.5.1
intervaltree
ipykernel
ipython
ipython-genutils
isort
jaraco.classes
jedi
jellyfish
Jinja2
jinja2-time
jsonschema
jupyter_client
jupyter_core
jupyterlab-pygments
keyring
kiwisolver==1.4.5
lazy-object-proxy
lxml
MarkupSafe
matplotlib==3.8.0
matplotlib-inline
mccabe
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
numpy
numpydoc
packaging
pandas==2.1.1
pandocfilters
paramiko
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
pluggy
ply==3.11
poyo
prompt-toolkit
psutil
ptyprocess
pure-eval
pycodestyle
pycparser
pydocstyle
pyflakes
Pygments
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyOpenSSL
pyparsing==3.1.1
PyQt5==5.15.7
PyQt5-sip
PyQtWebEngine==5.15.4
pyrsistent
PySocks
python-dateutil
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
pytoolconfig
pytz
pywin32==305.1
pywin32-ctypes
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
requests
rope
Rtree
scipy==1.11.3
sip
six
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
stack-data
sympy
text-unidecode
textdistance
three-merge
tinycss2
toml
tomlkit
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado
traitlets
typing_extensions
tzdata==2023.3
ujson
Unidecode
urllib3
watchdog
wcwidth
webencodings==0.5.1
whatthepatch
win-inet-pton
wrapt
yapf
zipp
